h1{
    margin-left: 10%;
    padding: 7px;
    
}
h2{
    margin-left: 20px;
    padding: 7px;
}
h3{
    margin-left: 20px;
    padding: 7px;
}
p{
    margin-left: 20px;
    padding: 7px;

}

